html
head
   title Person
   body
      form(action = "/new-transaction", method = "POST")
            div
                  label(for = "id") id: 
                  input(name = "id")
            br
            div
                  label(for = "payer") payer: 
                  input(name = "payer")
            br
            div
                  label(for = "amount") amount: 
                  input(name = "amount")
            br
            div
                  label(for = "receiver") receiver: 
                  input(name = "receiver")
            br
            button(type = "submit") Create new person